@medium: ~"only screen and (min-width : 768px)";
@large: ~"only screen and (min-width : 1260px)";
@min-width: 300px;
@max-width: 1280px;

* { box-sizing: border-box; }

body
{
	margin: 0;
	padding: 0;
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;
	-webkit-font-smoothing: antialiased;
	min-width: @min-width;
}

.page
{
	margin: 0 auto;
}

.button
{
	display: inline-block;
	background-color: rgba(255,255,255,.2);
	color: black;
	padding: .5em 1em;
	text-decoration: none;
	border-radius: .2em;
}

.hero
{
	background-color: #404040;
	color: white;
	float: left;
	width: 100%;
	clear: both;
	text-align: center;
	padding: 12em 1em;
	
	> div
	{
		margin: 0 auto;
		max-width: @max-width;
		
		> h1,
		> p
		{
			margin: 0;
			padding: 0;
		}
		
		> h1
		{
			font-size: 2.6em;
			color: white;
		}
		
		> p
		{
			margin-bottom: 2em;
		}
		
		> a
		{
			margin: 0 .5em;
		}
	}
}

section
{
	float: left;
	width: 100%;
	clear: both;
	padding: 2em 0;

	> div
	{
		max-width: @max-width;
		margin: 0 auto;
		
		> h2
		{
			text-align: center;
			color: white;
			margin: 0;
			padding: 0;
			font-size: 1.8em;
		}
	}

	&.what
	{
		background-color: #505050;
		text-align: center;
	}
	
	&.examples
	{
		background-color: #606060;
	}

	&.usage
	{
		background-color: #707070;
		
		> div
		{		
			> pre
			{
				color: white;
				font-family: monospace;
				padding: 1.5em;
				background-color: #606060;
				white-space: normal;
				
				@media @medium
				{
					//white-space: pre;
				}
			}

		}
	}

}

.example
{
	float: left;
	width: 100%;

	@media @medium
	{
		width: 50%;
	}

	@media @large
	{
		width: 33.333%;
	}
	
	padding: 1.5em;
	
	> div
	{
		padding: 1.5em;
		float: left;
		margin: 0 auto;
		transition: .3s;
				
		@media @medium
		{
			height: 30.5em;		
		}

		@media @large
		{
			height: 25em;
		}
			
		> div
		{
			float: left;
			width: 100%;		
			
			&:first-of-type
			{
				height: 0;
				padding-bottom: 56.25%;
				overflow: hidden;
				margin-bottom: 1.5em;
				
				> a
				{
					> img
					{
						display: block;
						max-width: 100%;
						margin: 0 auto;
						text-align: center;
					}
				}
			}
	
			&:last-of-type
			{
				> .button
				{
					background-color: white;
					font-size: .85em;
				}
				
				> .blocks
				{
					display: block;
					float: left;
					width: 100%;
					margin-bottom: 1em;
	
					> div
					{
						float: left;
						width: 10%;
						height: 2.5em;
						color: white;
						font-size: .85em;
						
						&:first-of-type
						{
							//padding: 2em;
						}
					}
				}
				
				> .details
				{
					font-size: .85em;
				}
			}
		}
	}
}